body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #eee;
    margin: 5px 0;
}

li.completada {
    text-decoration: line-through;
    color: green;
}

li button {
    margin-left: 15px;
    padding: 5px 10px;
}
